.vscode/
moonraker_secrets.ini
telegram*.conf
*.bkp
*.backup
printer*.cfg
variables.cfg
mooncord.json
resonances_*.csv
moonraker-obico.cfg
*shaper_calibrate_*.png
*/shaper_calibrate_*.png
**/shaper_calibrate_*.png