[display]
lcd_type: ssd1306
i2c_mcu: host
i2c_bus: i2c.1
encoder_pins: ^host:gpio22, ^host:gpio27
click_pin: ^!host:gpio17
x_offset: 1

# Rename Octoprint to Mainsail
[menu __main __octoprint]
type: list
name: Mainsail

# Power Menus
[menu __main __power]
type: list
name: Power
index: 2

[menu __main __power _lightson]
type: command
name: Lights On
gcode: POWER_ON_LIGHTS

[menu __main __power _lightsoff]
type: command
name: Lights Off
gcode: POWER_OFF_LIGHTS

[menu __main __power _filteron]
type: command
name: Filter On
gcode: POWER_ON_FILTER

[menu __main __power _filteroff]
type: command
name: Filter Off
gcode: POWER_OFF_FILTER

# Leveling Menus
[menu __main __leveling]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Leveling
index: 7

[menu __main __leveling preheatBed]
type: command
name: Hotbed > 60c
gcode:
    M140 S60

[menu __main __leveling bedMesh]
type: command
name: Generate Mesh
gcode: 
    G28
    BED_MESH_CALIBRATE


[menu __main __leveling __BedScrews]
type: list
name: Bed Screws

[menu __main __leveling __BedScrews Home]
type: command
name: Home
gcode:
    G28

[menu __main __leveling __BedScrews Start]
type: command
name: Start
gcode:
    BED_SCREWS_ADJUST

[menu __main __leveling __BedScrews Accept]
type: command
name: Accept
gcode: 
    ACCEPT

[menu __main __leveling __BedScrews Adjust]
type: command
name: Adjust
gcode: 
    ADJUSTED

[menu __main __leveling __BedScrews Abort]
type: command
name: Abort
gcode: 
    ABORT
    G1 Z10

# PLA Preheating Profile
[menu __main __temp __preheat_pla]
type: list
name: Preheat PLA
index: 3

[menu __main __temp __preheat_pla __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S60
    M104 S200

[menu __main __temp __preheat_pla __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S200

[menu __main __temp __preheat_pla __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S60

# PLA+ Preheating Profile
[menu __main __temp __preheat_plap]
type: list
name: Preheat PLA+
index: 4

[menu __main __temp __preheat_plap __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S65
    M104 S210

[menu __main __temp __preheat_plap __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S210

[menu __main __temp __preheat_plap __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S65

# PETG Preheating Profile
[menu __main __temp __preheat_petg]
type: list
name: Preheat PETG
index: 5

[menu __main __temp __preheat_petg __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S80
    M104 S230

[menu __main __temp __preheat_petg __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S230

[menu __main __temp __preheat_petg __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S80


# TPU Preheating Profile
[menu __main __temp __preheat_tpu]
type: list
name: Preheat TPU
index: 6

[menu __main __temp __preheat_tpu __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S50
    M104 S235

[menu __main __temp __preheat_tpu __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S235

[menu __main __temp __preheat_tpu __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S50

# ABS Preheating Profile
[menu __main __temp __preheat_abs]
type: list
name: Preheat ABS
index: 7

[menu __main __temp __preheat_abs __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S110
    M104 S245

[menu __main __temp __preheat_abs __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S245

[menu __main __temp __preheat_abs __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S110

# ASA Preheating Profile
[menu __main __temp __preheat_asa]
type: list
name: Preheat ASA
index: 8

[menu __main __temp __preheat_asa __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S100
    M104 S240

[menu __main __temp __preheat_asa __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S240

[menu __main __temp __preheat_asa __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S100

# Nylon Preheating Profile
[menu __main __temp __preheat_nylon]
type: list
name: Preheat Nylon
index: 9

[menu __main __temp __preheat_nylon __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Preheat all
gcode:
    M140 S60
    M104 S240

[menu __main __temp __preheat_nylon __hotend]
type: command
enable: {'extruder' in printer}
name: Preheat hotend
gcode: M104 S240

[menu __main __temp __preheat_nylon __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Preheat hotbed
gcode: M140 S60

# Cooldown Profile
[menu __main __temp __cooldown]
type: list
name: Cooldown
index: 10

[menu __main __temp __cooldown __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:
    M104 S0
    M140 S0

[menu __main __temp __cooldown __hotend]
type: command
enable: {'extruder' in printer}
name: Cooldown hotend
gcode: M104 S0

[menu __main __temp __cooldown __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Cooldown hotbed
gcode: M140 S0