[mcu pico]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E660C062135C6A24-if00

[adxl345]
spi_bus: spi0a
cs_pin: pico:gpio1

[output_pin BEEPER_pin]
pin: pico:gpio22
#   Beeper pin. This parameter must be provided.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[gcode_button printer_power]
pin: !^pico:gpio21
press_gcode:
  POWEROFF

[gcode_button preheat_bed]
pin: !^pico:gpio20
press_gcode:
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=65

[gcode_button pause_printing]
pin: !^pico:gpio19
press_gcode:
  PAUSE

[gcode_button emergency_stop]
pin: !^pico:gpio18
press_gcode:
  { action_emergency_stop() }