#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

#[include ./klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./klicky-variables.cfg]                #Required
[include ./klicky-macros.cfg]                   #Required
[include ./klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
[include ./klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors

#[include ./klicky-bed-mesh-calibrate.cfg]      #bed mesh, requires klipper configuration
#[include ./klicky-quad-gantry-level.cfg]       #level 4 Z motors

# Klicky Probe
[probe]
pin: !sb2040:gpio28
x_offset: 0.0
y_offset: 19.75
z_offset: 6.17
speed: 5
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.01
samples_tolerance_retries: 10
