# Environmental Sensors

# MCU Board Temperature
#[temperature_sensor _skr_pico]
#sensor_type: temperature_mcu
#sensor_mcu: mcu
#min_temp: 0
#max_temp: 100

# Toolboard MCU Temperature
[temperature_sensor _toolboard]
sensor_type: temperature_mcu
sensor_mcu: toolboard
min_temp: 0
max_temp: 100

# Pinboard MCU Temperature
[temperature_sensor _pin_board]
sensor_type: temperature_mcu
sensor_mcu: pin_board
min_temp: 0
max_temp: 100

# PiCAN pi  MCU Temperature
#[temperature_sensor _pican_pi]
#sensor_type: temperature_mcu
#sensor_mcu: pican_pi
#min_temp: 0
#max_temp: 100

# Bedboard MCU Temperature
[temperature_sensor _bed_board]
sensor_type: temperature_mcu
sensor_mcu: bed_board
min_temp: 0
max_temp: 100

# Pinboard MCU Temperature
[temperature_sensor _display_board]
sensor_type: temperature_mcu
sensor_mcu: display_board
min_temp: 0
max_temp: 100

# Raspberry Pi Temperature
[temperature_sensor _raspberry_pi]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

# Toolhead Temperature
#[temperature_sensor _toolhead]
#sensor_type: HTU21D
#i2c_mcu: toolboard
#i2c_bus: i2c2

[temperature_sensor steppers]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio27

[temperature_sensor chamber]
sensor_type: BME280
i2c_mcu: host
i2c_bus: i2c.1
i2c_address: 119
[gcode_macro QUERY_CHAMBER]
gcode:
    {% set sensor = printer["bme280 chamber"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Pressure: %.2f hPa\n"
        "Humidity: %.2f%%\n"
        "Gas Level: %.2f VOC" % (
            sensor.temperature,
            sensor.pressure,
            sensor.humidity,
            sensor.gas_level))}

[temperature_sensor spool]
sensor_type: BME280
i2c_mcu: host
i2c_bus: i2c.1
i2c_address: 118
[gcode_macro QUERY_SPOOL]
gcode:
    {% set sensor = printer["bme280 spool"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Pressure: %.2f hPa\n"
        "Humidity: %.2f%%\n"
        "Gas Level: %.2f VOC" % (
            sensor.temperature,
            sensor.pressure,
            sensor.humidity,
            sensor.gas_level))}


[temperature_sensor ambient]
sensor_type: SHT21
i2c_mcu: host
i2c_bus: i2c.1
htu21d_resolution: TEMP14_HUM12
htu21d_report_time: 30
[gcode_macro QUERY_AMBIENT]
gcode:
    {% set sensor = printer["htu21d ambient"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}

#[temperature_sensor circulator]
#sensor_type: DS18B20
#serial_no: 00-800000000000
#ds18_report_time: 1
#sensor_mcu: host

[gcode_macro TEST_CHAMBER_TEMP]
gcode:
    {% set CHAMBER_TEMP = params.TARGET|default(0)|float %}
    {% set CURRENT_CHAMBER = printer["bme280 chamber"].temperature %}
    {% if CURRENT_CHAMBER < CHAMBER_TEMP %}
        HEAT_SOAK DURATION=5
    {% endif %}