[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_accel_to_decel: 3000
max_z_velocity: 25
max_z_accel: 500
square_corner_velocity: 5.0

[display_status]

[exclude_object]

[sdcard_loop]

[skew_correction]

[respond]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
    CANCEL_PRINT   

[pause_resume]
recover_velocity: 100

[endstop_phase]

# Support ArcWelder
[gcode_arcs]
resolution: 0.10

[firmware_retraction]
retract_length: 0.36
retract_speed: 60
unretract_speed: 60

[force_move]
enable_force_move: True

# Allow saving variables to file
[save_variables]
filename: ~/printer_data/config/variables.cfg

[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    73, 130, 5 # Centered low
#    164, 136, 50   # Centered above bed
#    20,  20,  5  # Front-Left
#    200, 200, 5 # Back-Right

[input_shaper]
#shaper_freq_x: 45.4
#shaper_type_x: mzv
#shaper_freq_y: 35.2
#shaper_type_y: mzv



[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}

# Initialize some variable defaults
[delayed_gcode macros_initialize]
initial_duration: 1
gcode:
    INITIALIZE_VARIABLE VARIABLE=park_x VALUE=-5
    INITIALIZE_VARIABLE VARIABLE=park_y VALUE=220
    INITIALIZE_VARIABLE VARIABLE=park_z VALUE=150
    INITIALIZE_VARIABLE VARIABLE=bowden_len VALUE=25