# Additional ZippyPrint Configuration

# Macros directory
[include ../macros/*.cfg]

# Led Control
[include ../ledcontrol.cfg]

# Timelapse
[include ../timelapse.cfg]

# Adaptive mesh and purge
[include ../Adaptive_Mesh.cfg]
[include ../Adaptive_Purge.cfg]

# Klicky Probe
[include ../probe/klicky-probe.cfg]

# CRTouch Probe
#[include ../probe/crtouch-probe.cfg]

[esp32_webscale]
ip: 192.168.86.25

# Silence output
[gcode_macro M116]
description: Silent status feedback
gcode:

# Dual output
[gcode_macro M1187]
description: Dual status feedback
gcode:
    M117 {rawparams}
    M118 {rawparams}
[gcode_macro M1178]
gcode:
    M1187 {rawparams}

[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(0)|float *2.55 %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M106 S{S}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER={e} TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
 
[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro _TEST_EXTRUDER]
gcode:
    {% if printer.toolhead.extruder == "extruder" %} M118 {printer.toolhead.extruder}
    {% endif %}

[gcode_macro _TEST_MESH]
gcode:
    {% set bed_mesh = printer.bed_mesh %}
    RESPOND MSG="Bed Mesh Profile: "{bed_mesh.profile_name}
    RESPOND MSG="Bed Mesh Min: {bed_mesh.mesh_min}"
    RESPOND MSG="Bed Mesh Max: {bed_mesh.mesh_max}"
    RESPOND MSG="Probe Matrix: {bed_mesh.probed_matrix}"
    RESPOND MSG="Mesh Matrix: {bed_mesh.mesh_matrix}"