[gcode_macro BED_PREP]
variable_output: 118
gcode:
    #Attach_Probe_Lock ; attach probe
    M{output} Homing Z
    G28 Z PROBE_LOCK ; home Z axis
    M{output} Calibrating Z
    STATUS_CALIBRATING_Z
    Z_TILT_ADJUST ; adjust z-tilt
    M{output} Meshing print area
    #BED_MESH_PROFILE LOAD=default
    BED_MESH_CALIBRATE
    M{output} Docking Probe
    Dock_Probe_Unlock ; dock probe
    M{output} Ready