[gcode_macro M300]
gcode:
{% set S = params.S|default(1000)|int %} ; S sets the tone frequency
{% set P = params.P|default(100)|int %} ; P sets the tone duration
{% set L = 0.5 %} ; L varies the PWM on time, close to 0 or 1 the tone gets a bit quieter. 0.5 is a symmetric waveform
{% if S <= 0 %} ; dont divide through zero
{% set F = 1 %}
{% set L = 0 %}
{% elif S >= 10000 %} ;max frequency set to 10kHz
{% set F = 0 %}
{% else %}
{% set F = 1/S %} ;convert frequency to seconds
{% endif %}
SET_PIN PIN=BEEPER_Pin VALUE={L} CYCLE_TIME={F} ;Play tone
G4 P{P} ;tone duration
SET_PIN PIN=BEEPER_Pin VALUE=0

#[gcode_macro M300]
#gcode:
#    # Use a default 1kHz tone if S is omitted.
#    {% set S = params.S|default(1000)|int %}
#    # Use a 10ms duration is P is omitted.
#    {% set P = params.P|default(100)|int %}
#    SET_PIN PIN=_beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
#    G4 P{P}
#    SET_PIN PIN=_beeper VALUE=0

[gcode_macro BEEP]
gcode:
  # Parameters
  {% set i = params.I|default(1)|int %}           ; Iterations (number of times to beep).
  {% set dur = params.DUR|default(100)|int %}     ; Duration/wait of each beep in ms. Default 100ms.
  {% set freq = params.FREQ|default(2000)|int %}  ; Frequency in Hz. Default 2kHz.

  {% for iteration in range(i|int) %}
      SET_PIN PIN=_beeper VALUE=0.8 CYCLE_TIME={ 1.0/freq if freq > 0 else 1 }
      G4 P{dur}
      SET_PIN PIN=_beeper VALUE=0
      G4 P{dur}
  {% endfor %}