#####################################
#        Nozzle Clean Macro         #
#       Version 1.0  2023-1-4       #
#####################################

################################
######### CLEAN_NOZZLE #########
################################
[gcode_macro CLEAN_NOZZLE]
variable_start_x: -15
variable_start_y: 10
variable_start_z: 1.5
variable_wipe_dist: 10
variable_wipe_qty: 5
variable_wipe_spd: 250
variable_raise_distance: 5
variable_extruder_name: 'extruder'
variable_extruder_temp: 180
variable_output: 118

gcode:
    HOME_IF_NEEDED
    {% set nozzle_targ = params.TARGET|default(0)|float %}
    {% set is_hot = params.HOT|default(False) %}

    {% if is_hot == False %}
        {% if printer["gcode_macro _printcfg"].led_status == True %}
            STATUS_HEATING
        {% endif %}
        M{output} Heating extruder..
        {% if nozzle_targ > 0 %}
            SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET={nozzle_targ}
            TEMPERATURE_WAIT SENSOR={extruder_name} MINIMUM={nozzle_targ}
        {% elif extruder_temp > 0 %}
            SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET={extruder_temp}
            TEMPERATURE_WAIT SENSOR={extruder_name} MINIMUM={extruder_temp}
        {% endif %}
    {% endif %}

    G90                                            ; absolute positioning
    ## Move nozzle to start position
    G1 X{start_x} Y{start_y} F6000
    G1 Z{start_z} F1500

    # Set lighting
    {% if printer["gcode_macro _printcfg"].led_status == True %}
        STATUS_CLEANING
    {% endif %}

    ## Wipe nozzle
    M{output} Wiping nozzle..
    {% for wipes in range(1, (wipe_qty + 1)) %}
    G1 X{start_x + wipe_dist} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    {% endfor %}

    ## Raise nozzle
    G1 Z{raise_distance}

    {% if is_hot == False %}
        M{output} Cooling extruder..
        SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET=0
    {% endif %}