[gcode_macro MAINTENANCE]
#
# MAINTENANCE
#
# Move the toolhead to 1/2 max above the bed and the front centre
#
description: move the toolhead to a convenient position for working on it
gcode:

    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    {% set mid_x = max_x / 2.0 %}
    {% set z50 = max_z * 0.5 %}

    STATUS_BUSY
    HOME_IF_NEEDED
    G0 X{mid_x} Y0 Z{z50} F3000
    STATUS_READY