[gcode_macro TARGET_FAN]
gcode:
    {% set HEATER_TARGET = params.HEATER_TARGET|default(60)|float %}
    {% set FAN_TARGET = params.FAN_TARGET|default(100)|float %}
    {% set FAN_SPEED = params.FAN_SPEED|default(1)|float %}
    {% set FAN_NAME = params.FAN_NAME|default('bed_fan')|string %}
    
    {% if HEATER_TARGET >= FAN_TARGET %}
        SET_FAN_SPEED FAN={FAN_NAME} SPEED={FAN_SPEED} # Turn on bed_fan if target is above or equal.
    {% else %}
        SET_FAN_SPEED FAN={FAN_NAME} SPEED=0 # Turn off bed_fan if target is below bed_target
    {% endif %}

# Assuming you have something like this in your START_PRINT macro:
# {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
# 
# Then you can add the following line to use this macro:
# 
# TARGET_FAN HEATER_TARGET={BED_TEMP} FAN_TARGET=100
# 
# This will start the fan if the BED_TEMP target is greater or equal to 100.
# 
# 
# You can now optionally specify the following parameters:
# 
# FAN_SPEED: This is a value from 0-1 that represents the fan speed you want to use.
# 
# FAN_NAME: This should be the name of the generic_fan you wish to control.
# 
# This allows us to use multiple fan speeds and even multiple fans with this macro.
# 
# I also changed BED_TARGET to HEATER_TARGET to make this more generic for
# use with any heater/fan combination. Sorry, last breaking change to this macro, I promise!
