# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#canbus_uuid: 0e0d81e4210c

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 24.395
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100.0
max_extrude_cross_section: 50.0
min_extrude_temp: 180
pressure_advance = 0.055
smooth_time: 0.500
heater_pin: EBBCan: PB13
#sensor_type: PT1000
#pullup_resistor: 4700
#sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

sensor_type:MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

[neopixel hotend_rgb]
pin: EBBCan:PD3

[bltouch]
sensor_pin: ^EBBCan:PB8
control_pin: EBBCan:PB9
x_offset: -44
y_offset: -7
#z_offset: 2.295
probe_with_touch_mode: True
stow_on_each_sample: False
samples: 2
samples_tolerance: 0.0125
samples_tolerance_retries: 5

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

[filament_motion_sensor motion_sensor]
switch_pin: ^EBBCan:PB3
detection_length: 7.0
extruder: extruder
pause_on_runout: false #pause handled by macro
runout_gcode:
  FILAMENT_RUNOUT
insert_gcode:
  M117 Filament inserted
event_delay: 3.0
pause_delay: 0.0001
