## Copyright (C) 2023 Chris Laprade
## 
## This file is part of zippy_config.
## 
## zippy_config is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
## 
## zippy_config is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with zippy_config.  If not, see <http://www.gnu.org/licenses/>.


#####################################
##            Lazy Homing          ##
##      Version 2.0  2023-4-2      ##
#####################################

## Use in place of a normal G28 command to
## only home the axes not already homed

## Only home if not homed
[gcode_macro CG28]
variable_output: 118 ; Output method for status feedback
gcode:
    {% if "x" in rawparams|string|lower %} ; if x is in rawparams
        {% set X = True %} ; set x flag
    {% endif %}
    {% if "y" in rawparams|string|lower %} ; if y is in rawparams
        {% set Y = True %} ; set y flag
    {% endif %}
    {% if "z" in rawparams|string|lower %} ; if z is in rawparams
        {% set Z = True %} ; set z flag
    {% endif %}
    {% if rawparams|string|lower == "" %} ; if no parameters are defined
        {% set ALL = True %} ; set all flag
        {% set X = True %}   ; set x flag
        {% set Y = True %}   ; set y flag
        {% set Z = True %}   ; set z flag
    {% endif %}
    {% if printer.toolhead.homed_axes != "xyz" %} ; if not homed
        {% if "x" not in printer.toolhead.homed_axes %} ; if x is not homed
            {% set home_x = True %} ; set home_x flag
        {% endif %}
        {% if "y" not in printer.toolhead.homed_axes %} ; if y is not homed
            {% set home_y = True %} ; set home_y flag
        {% endif %}
        {% if "z" not in printer.toolhead.homed_axes %} ; if z is not homed
            {% set home_z = True %} ; set home_z flag
        {% endif %}

        {% if home_x == True and home_y == True and home_z == True %} ; if all axes need to be homed
            {% if ALL == True %} ; if all axes are being homed
                M{output} Homing all axes
                G28 ; Home all axes
            {% else %} ; if only some axes are being homed
                {% if X == True %} ; if x is being homed
                    M{output} Homing X axis
                    G28 X ; Home x axis
                {% endif %}
                {% if Y == True %} ; if y is being homed
                    M{output} Homing Y axis
                    G28 Y ; Home y axis
                {% endif %}
                {% if Z == True %} ; if z is being homed
                    M{output} Homing Z axis
                    G28 Z ; Home z axis
                {% endif %}
            {% endif %}
        {% else %} ; if only some axes need to be homed
            {% if home_x == True %} ; if x needs to be homed
                {% if X == True %} ; if x is being homed
                    M{output} Homing X axis
                    G28 X ; Home x axis
                {% endif %}
            {% endif %}
            {% if home_y == True %} ; if y needs to be homed
                {% if Y == True %} ; if y is being homed
                    M{output} Homing Y axis
                    G28 Y ; Home y axis
                {% endif %}
            {% endif %}
            {% if home_z == True %} ; if z needs to be homed
                {% if Z == True %} ; if z is being homed
                    M{output} Homing Z axis
                    G28 Z ; Home z axis
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %} ; if already homed
        M{output} All axes are homed
    {% endif %}

## Only QGL if not QGL'd
[gcode_macro CQGL]
gcode:
    {% set output = printer['CG28'].output %}
    {% if printer.quad_gantry_level.applied == False %} ; if not QGL'd
        CG28 ; Home all axes if not homed
        M{output} Leveling gantry
        QUAD_GANTRY_LEVEL ; QGL
        G28 Z
    {% endif %}

## Only Z-tilt if not Z-tilted
[gcode_macro CZ_TILT_ADJUST]
gcode:
    {% set output = printer['CG28'].output %}
    {% if printer.z_tilt.applied == False %} ; if not QGL'd
        CG28 ; Home all axes if not homed
        M{output} Leveling gantry
        Z_TILT_ADJUST ; Z-tilt adjustment
    {% endif %}

################################
############ ALIASES ###########
################################

[gcode_macro HOME_IF_NEEDED]
gcode:
    CG28 { rawparams }

[gcode_macro LAZY_HOME]
gcode:
    CG28 { rawparams }

[gcode_macro CHECK_HOME]
gcode:
    CG28 { rawparams }


################################
############ EXTRAS ############
################################

# Console output
# Use variable_output: 118
[respond]

# Display output
# Use variable_output: 117
[display_status]

# Silence output
# Use variable_output: 116
[gcode_macro M116]
description: Silent status feedback
gcode:

# Dual output
# Use variable_output: 1187 or 1178
[gcode_macro M1187]
description: Dual status feedback
gcode:
    M117 {rawparams}
    M118 {rawparams}
[gcode_macro M1178]
gcode:
    M1187 {rawparams}