# Set Material-specific Configs

# Add this to your start_print line of the start gcode in Prusa/SuperSlicer:
#     MATERIAL={filament_type}
# 
# Add this to your start_print line of the start gcode in Cura:
#     MATERIAL={material_type}
# 
# Add this to your START_PRINT macro:
#     {% set MATERIAL = params.MATERIAL|default('PLA')|string %}
#     SET_MATERIAL MATERIAL={MATERIAL}
# 
# 

[gcode_macro SET_MATERIAL]
gcode:
    {% set MATERIAL = params.MATERIAL|default('PLA')|string %}
    {% if MATERIAL == 'PLA' %}
        # Load bed mesh
        BED_MESH_PROFILE LOAD="pla_mesh"
        # Set pressure_advance settings
        SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        # Set z_offset settings
        SET_GCODE_OFFSET Z=0
    {% elif MATERIAL == 'ABS' %}
        BED_MESH_PROFILE LOAD="pla_mesh"
        SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        SET_GCODE_OFFSET Z=0
    {%else %}
        BED_MESH_PROFILE LOAD="default"
        SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        SET_GCODE_OFFSET Z=0
    {% endif %}